* {
    font-family: Arial, Helvetica, sans-serif;
    color: #f0f0f0;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #121314;
    align-items: center;
}

h1 {
    font-size: 32pt;
    background-color: #6169d6;
    padding: 10px;
    border-radius: 10px;
}

#home-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start; /* Add this line */
    align-items: center;

    width: 100%;

    margin: 20px;
    padding-top: 20px;
    padding-bottom: 20px;

    background-color: #1e1e1e;
    border-radius: 10px;
}

#header-left {
    justify-content: left;
    margin: auto
}

#header-right {
    justify-content: left;
    margin: auto
}

#mid {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#set-username {
    display: flex;
}

input {
    width: 100%;
    margin-right: 20px;
    padding: 5px;
    background-color: #181818;
    border: 2px solid #3f46af;
    border-radius: 10px;
    box-sizing: border-box;
    outline: none;
}

button {
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
    display: block;
    font-weight: bold;
    font-size: 12pt;
    background-color: #6169d6;
    border: 2px solid #3f46af;
    border-radius: 10px;
}

.user-connected,
.user-disconnected {
    font-size: 10pt;
    color: #888;
}
