.side-menu-reviews, .side-menu-reviews * {
    box-sizing: border-box;
    }
.side-menu-reviews {
   background: var(--bg-gray-light, #eef1f7);
    padding: 11.85px 15.8px 11.85px 15.8px;
    width: 191.21px;
    height: 853.33px;
    position: relative;
   }

.frame-984 {
   display: flex;
    flex-direction: column;
    gap: 39.51px;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    left: 15.8px;
   top: 67.16px;
    overflow: hidden;
   }

.frame-983 {
   display: flex;
    flex-direction: column;
    gap: 19.75px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
    overflow: hidden;
   }

.frame-101 {
   display: flex;
    flex-direction: row;
    gap: 11.85px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
    overflow: hidden;
   }

.chart-line {
   flex-shrink: 0;
    position: relative;
    overflow: visible;
   }

.dashboard {
   color: #000000;
    text-align: left;
    font: 500 11.06px 'Roboto', sans-serif;
    position: relative;
    width: 83.75px;
    height: 13.43px;
    display: flex;
   align-items: center;
   justify-content: flex-start}

.frame-103 {
   display: flex;
    flex-direction: row;
    gap: 11.85px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
    overflow: hidden;
   }

.clone {
   flex-shrink: 0;
    position: relative;
    overflow: visible;
   }

.all-stories {
   color: #000000;
    text-align: left;
    font: 500 11.06px 'Roboto', sans-serif;
    position: relative;
    width: 82.96px;
    height: 13.43px;
    display: flex;
   align-items: center;
   justify-content: flex-start}

.frame-104 {
   display: flex;
    flex-direction: row;
    gap: 11.85px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
    overflow: hidden;
   }

.th-large {
   flex-shrink: 0;
    position: relative;
    overflow: visible;
   }

.widgets {
   color: #000000;
    text-align: left;
    font: 500 11.06px 'Roboto', sans-serif;
    position: relative;
    width: 63.21px;
    height: 13.43px;
    display: flex;
   align-items: center;
   justify-content: flex-start}

.frame-105 {
   display: flex;
    flex-direction: row;
    gap: 11.85px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
    overflow: hidden;
   }

.images {
   flex-shrink: 0;
    position: relative;
    overflow: visible;
   }

.galleries {
   color: #000000;
    text-align: left;
    font: 500 11.06px 'Roboto', sans-serif;
    position: relative;
    width: 58.47px;
    height: 13.43px;
    display: flex;
   align-items: center;
   justify-content: flex-start}

.frame-106 {
   display: flex;
    flex-direction: row;
    gap: 11.85px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
    overflow: hidden;
   }

.ellipsis-h {
   flex-shrink: 0;
    position: relative;
    overflow: visible;
   }

.highlights {
   color: #000000;
    text-align: left;
    font: 500 11.06px 'Roboto', sans-serif;
    position: relative;
    width: 115.36px;
    height: 13.43px;
    display: flex;
   align-items: center;
   justify-content: flex-start}

.frame-108 {
   display: flex;
    flex-direction: row;
    gap: 11.85px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
    overflow: hidden;
   }

.book {
   flex-shrink: 0;
    position: relative;
    overflow: visible;
   }

.bookend {
   color: #000000;
    text-align: left;
    font: 500 11.06px 'Roboto', sans-serif;
    position: relative;
    width: 49.78px;
    height: 13.43px;
    display: flex;
   align-items: center;
   justify-content: flex-start}

.frame-109 {
   display: flex;
    flex-direction: row;
    gap: 11.85px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
    overflow: hidden;
   }

.ad {
   flex-shrink: 0;
    position: relative;
    overflow: visible;
   }

.ads {
   color: #000000;
    text-align: left;
    font: 500 11.06px 'Roboto', sans-serif;
    position: relative;
    width: 30.81px;
    height: 13.43px;
    display: flex;
   align-items: center;
   justify-content: flex-start}

.frame-107 {
   display: flex;
    flex-direction: row;
    gap: 11.85px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
    overflow: hidden;
   }

.file {
   flex-shrink: 0;
    position: relative;
    overflow: visible;
   }

.reports {
   color: #000000;
    text-align: left;
    font: 500 11.06px 'Roboto', sans-serif;
    position: relative;
    width: 71.9px;
    height: 13.43px;
    display: flex;
   align-items: center;
   justify-content: flex-start}

.group-981 {
   flex-shrink: 0;
    width: 158.03px;
    height: 69.53px;
    position: static;
   }

.frame-878 {
   display: flex;
    flex-direction: column;
    gap: 15.8px;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    left: 0px;
   top: 313.68px;
    overflow: hidden;
   }

.frame-112 {
   display: flex;
    flex-direction: row;
    gap: 11.85px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
    overflow: hidden;
   }

.buffer {
   flex-shrink: 0;
    position: relative;
    overflow: visible;
   }

.sources {
   color: #000000;
    text-align: left;
    font: 500 11.06px 'Roboto', sans-serif;
    position: relative;
    width: 71.9px;
    height: 12.64px;
   }

.frame-111 {
   display: flex;
    flex-direction: row;
    gap: 11.85px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
    overflow: hidden;
   }

.user-friends {
   flex-shrink: 0;
    position: relative;
    overflow: visible;
   }

.social-accounts {
   color: #000000;
    text-align: left;
    font: 500 11.06px 'Roboto', sans-serif;
    position: relative;
    width: 80.59px;
    height: 12.64px;
   }

.group-976 {
   width: 158.03px;
    height: 12.64px;
    position: static;
   }

.line-43 {
   border-style: solid;
    border-color: var(--border, #d6dae4);
    border-width: 0.79px 0 0 0;
    width: 100.35px;
    height: 0px;
    position: absolute;
    left: 57.68px;
   top: 292.35px;
    transform-origin: 0 0;
    transform: rotate(0deg) scale(1, 1);
   }

.settings {
   color: var(--text-muted, #9ca0ac);
    text-align: left;
    font: 500 11.06px 'Roboto', sans-serif;
    position: absolute;
    left: 0px;
   top: 285.23px;
    width: 52.15px;
    height: 12.64px;
    display: flex;
   align-items: center;
   justify-content: flex-start}

.frame-9842 {
   display: flex;
    flex-direction: column;
    gap: 19.75px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
    overflow: hidden;
   }

.group-977 {
   flex-shrink: 0;
    width: 158.03px;
    height: 12.64px;
    position: static;
   }

.line-432 {
   border-style: solid;
    border-color: var(--border, #d6dae4);
    border-width: 0.79px 0 0 0;
    width: 100.35px;
    height: 0px;
    position: absolute;
    left: 57.68px;
   top: 7.11px;
    transform-origin: 0 0;
    transform: rotate(0deg) scale(1, 1);
   }

.other {
   color: var(--text-muted, #9ca0ac);
    text-align: left;
    font: 500 11.06px 'Roboto', sans-serif;
    position: absolute;
    left: 0px;
   top: 0px;
    width: 35.56px;
    height: 12.64px;
    display: flex;
   align-items: center;
   justify-content: flex-start}

.frame-978 {
   display: flex;
    flex-direction: row;
    gap: 11.85px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
    overflow: hidden;
   }

.box {
   flex-shrink: 0;
    position: relative;
    overflow: visible;
   }

.group-962 {
   flex-shrink: 0;
    width: 106.67px;
    height: 12.64px;
    position: static;
   }

.group-957 {
   width: 106.67px;
    height: 12.64px;
    position: static;
   }

.group-110 {
   width: 106.67px;
    height: 12.64px;
    position: static;
   }

.integrations {
   color: #000000;
    text-align: left;
    font: 500 11.06px 'Roboto', sans-serif;
    position: absolute;
    left: 24.49px;
   top: 0px;
    width: 106.67px;
    height: 12.64px;
   }

.group-1009 {
   flex-shrink: 0;
    width: 49.78px;
    height: 15.01px;
    position: static;
   }

.group-969 {
   width: 26.07px;
    height: 15.01px;
    position: static;
   }

.help {
   color: #000000;
    text-align: left;
    font: 400 12.64px 'Roboto', sans-serif;
    position: absolute;
    left: 23.7px;
   top: 64.79px;
    width: 26.07px;
    height: 15.01px;
   }

.fa-fa-question-circle-text-muted {
   position: absolute;
    left: 0px;
   top: 66.37px;
    overflow: visible;
   }

.rectangle-156 {
   width: 191.21px;
    height: 45.04px;
    position: absolute;
    left: 0px;
   top: 808.3px;
   }

.question-circle {
   background: #000000;
    width: 12.64px;
    height: 12.64px;
    position: absolute;
    left: 17.38px;
   top: 543.6px;
    overflow: hidden;
   }

.group-988 {
   position: absolute;
    inset: 0;
   }

.img-avatar-img-avatar-48 {
   width: 37.93px;
    height: 37.93px;
    position: static;
   }

.ellipse-3 {
   border-radius: 50%;
    width: 37.93px;
    height: 37.93px;
    position: absolute;
    left: 11.06px;
   top: 798.81px;
   }

.line-47 {
   border-style: solid;
    border-color: var(--border, #d6dae4);
    border-width: 0.79px 0 0 0;
    width: 191.21px;
    height: 0px;
    position: absolute;
    left: 0px;
   top: 782.22px;
   }

.span-text-muted {
   color: var(--text-muted, #9ca0ac);
    text-align: left;
    font: 400 11.06px 'Roboto', sans-serif;
    position: absolute;
    left: 56.89px;
   top: 820.94px;
    width: 48.99px;
    height: 12.64px;
    display: flex;
   align-items: center;
   justify-content: flex-start}

.dropup {
   position: absolute;
    inset: 0;
   }

.jenny-black {
   color: #000000;
    text-align: center;
    font: 500 12.64px 'Roboto', sans-serif;
    position: absolute;
    left: 56.89px;
   top: 801.97px;
    width: 68.74px;
    height: 15.01px;
    display: flex;
   align-items: center;
   justify-content: center}

.caret-text-muted {
   position: absolute;
    left: 127.34px;
   top: 816.27px;
    transform: translate(-0.13px, -13.5px);
    overflow: visible;
   }

.box2 {
   background: #000000;
    width: 12.64px;
    height: 12.64px;
    position: absolute;
    left: 17.38px;
   top: 524.64px;
    overflow: hidden;
   }



   .frame-531, .frame-531 * {
    box-sizing: border-box;
    }
.frame-531 {
   width: 1078px;
    height: 855px;
    position: relative;
    overflow: hidden;
   }

.frame-953 {
   display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: flex-start;
    justify-content: flex-start;
    width: 1018px;
    height: 445px;
    position: absolute;
    left: 30px;
   top: 184px;
   }

.frame-952 {
   flex-shrink: 0;
    width: 1018px;
    height: 54px;
    position: relative;
   }

.group-953 {
   position: absolute;
    inset: 0;
   }

.recipe-book {
   color: #000000;
    text-align: left;
    font: 900 23.28px 'Roboto', sans-serif;
    position: absolute;
    left: 0px;
   top: 6px;
    display: flex;
   align-items: center;
   justify-content: flex-start}

.frame-712 {
   background: var(--dark-text, #2e3238);
    border-radius: 3.17px;
    padding: 5.29px 10.58px 5.29px 10.58px;
    display: flex;
    flex-direction: row;
    gap: 10.58px;
    align-items: center;
    justify-content: flex-start;
    width: 109.83px;
    height: 38.1px;
    position: absolute;
    left: 908.17px;
   top: 0px;
    overflow: hidden;
   }

.instagram-white {
   flex-shrink: 0;
    width: 16.93px;
    height: 16.93px;
    position: relative;
    transform-origin: 0 0;
    transform: rotate(0deg) scale(1, 1);
    overflow: hidden;
   }

.group {
   position: absolute;
    left: 0px;
   top: 0px;
    overflow: visible;
   }

.follow-us {
   color: #ffffff;
    text-align: left;
    font: 400 14.82px 'Roboto', sans-serif;
    position: relative;
    width: 64.56px;
    height: 16.93px;
    display: flex;
   align-items: center;
   justify-content: flex-start}

.line-1 {
   border-style: solid;
    border-color: var(--border, #d6dae4);
    border-width: 1.06px 0 0 0;
    width: 1049.81px;
    height: 0px;
    position: absolute;
    left: 0px;
   top: 54.02px;
   }

.frame-955 {
   display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;
    width: 1018px;
    height: 355px;
    position: relative;
   }

.frame-951 {
   flex-shrink: 0;
    width: 249.1px;
    height: 355.2px;
    position: relative;
   }

.rectangle-2 {
   border-radius: 9.23px;
    width: 249.1px;
    height: 355.2px;
    position: absolute;
    left: 0px;
   top: 0px;
    box-shadow: 3.69px 3.69px 18.45px 0px rgba(156, 160, 172, 0.80);
   }

.frame-842 {
   background: var(--linear, linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%,rgba(0, 0, 0, 0.60) 100%));
    border-radius: 0px 0px 9.23px 9.23px;
    padding: 15.68px 14.76px 15.68px 14.76px;
    width: 249.1px;
    height: 92.26px;
    position: absolute;
    left: 0px;
   top: 262.94px;
   }

.group-952 {
   position: absolute;
    inset: 0;
   }

.group-938 {
   width: 46.13px;
    height: 46.13px;
    position: static;
   }

.group-898 {
   width: 46.13px;
    height: 46.13px;
    position: static;
   }

.group-884 {
   width: 46.13px;
    height: 46.13px;
    position: static;
   }

.group-878 {
   width: 46.13px;
    height: 46.13px;
    position: static;
   }

.group-869 {
   width: 46.13px;
    height: 46.13px;
    position: static;
   }

.group-867 {
   width: 46.13px;
    height: 46.13px;
    position: static;
   }

.rectangle-140 {
   background: rgba(0, 0, 0, 0.80);
    border-radius: 13.84px;
    width: 46.13px;
    height: 46.13px;
    position: absolute;
    left: 9.23px;
   top: 36.9px;
   }

.group-951 {
   width: 23.99px;
    height: 31.37px;
    position: static;
   }

._18 {
   color: #ffffff;
    text-align: center;
    font: 700 20.3px/14.76px 'Roboto', sans-serif;
    position: absolute;
    left: 20.3px;
   top: 46.13px;
    width: 23.99px;
    height: 14.76px;
    display: flex;
   align-items: center;
   justify-content: center}

.oct {
   color: #ffffff;
    text-align: center;
    font: 400 11.07px/14.76px 'Roboto', sans-serif;
    position: absolute;
    left: 20.3px;
   top: 62.74px;
    width: 23.99px;
    height: 14.76px;
    display: flex;
   align-items: center;
   justify-content: center}

.frame-847 {
   width: 27.68px;
    height: 27.68px;
    position: absolute;
    left: 212.2px;
   top: 48.9px;
    overflow: hidden;
   }

.group-950 {
   position: absolute;
    left: 0px;
   top: 5.54px;
    overflow: visible;
   }

.frame-8422 {
   background: var(--linear, linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%,rgba(0, 0, 0, 0.60) 100%));
    border-radius: 0px 0px 9.23px 9.23px;
    padding: 15.68px 14.76px 15.68px 14.76px;
    width: 249.1px;
    height: 92.26px;
    position: absolute;
    left: 249.1px;
   top: 92.26px;
    transform-origin: 0 0;
    transform: rotate(-180deg) scale(1, 1);
   }

.group-8982 {
   position: absolute;
    inset: 0;
   }

.group-8842 {
   width: 36.9px;
    height: 36.9px;
    position: static;
   }

.group-8782 {
   width: 36.9px;
    height: 36.9px;
    position: static;
   }

.group-8692 {
   width: 36.9px;
    height: 36.9px;
    position: static;
   }

.group-8672 {
   width: 36.9px;
    height: 36.9px;
    position: static;
   }

.rectangle-1402 {
   background: #000000;
    border-radius: 11.07px;
    border-style: solid;
    border-color: var(--text-muted, #9ca0ac);
    border-width: 0.92px;
    width: 36.9px;
    height: 36.9px;
    position: absolute;
    left: 9.23px;
   top: 9.23px;
   }

.group-683 {
   position: absolute;
    inset: 0;
   }

.group-14 {
   width: 69.19px;
    height: 13.84px;
    position: static;
   }

.new-recipes {
   color: #ffffff;
    text-align: left;
    font: 700 11.89px 'Roboto', sans-serif;
    position: absolute;
    left: 51.67px;
   top: 21.22px;
    width: 69.19px;
    height: 13.84px;
    display: flex;
   align-items: center;
   justify-content: flex-start}

.group-954 {
   position: absolute;
    inset: 0;
   }

.group-142 {
   width: 16.61px;
    height: 10.15px;
    position: static;
   }

.new {
   color: #ffffff;
    text-align: left;
    font: 700 8.3px 'Roboto', sans-serif;
    position: absolute;
    left: 19.38px;
   top: 23.06px;
    width: 16.61px;
    height: 10.15px;
    display: flex;
   align-items: center;
   justify-content: flex-start}

.frame-948 {
   flex-shrink: 0;
    width: 249.1px;
    height: 355.2px;
    position: relative;
   }

._22 {
   color: #ffffff;
    text-align: center;
    font: 700 20.3px/14.76px 'Roboto', sans-serif;
    position: absolute;
    left: 20.29px;
   top: 46.13px;
    width: 23.99px;
    height: 14.76px;
    display: flex;
   align-items: center;
   justify-content: center}

.oct2 {
   color: #ffffff;
    text-align: center;
    font: 400 11.07px/14.76px 'Roboto', sans-serif;
    position: absolute;
    left: 20.29px;
   top: 62.74px;
    width: 23.99px;
    height: 14.76px;
    display: flex;
   align-items: center;
   justify-content: center}

.group-9502 {
   position: absolute;
    left: 0px;
   top: 5.54px;
    overflow: visible;
   }

.group-1395 {
   position: absolute;
    inset: 0;
   }

.group-6832 {
   width: 88.57px;
    height: 15.68px;
    position: static;
   }

.group-143 {
   width: 88.57px;
    height: 15.68px;
    position: static;
   }

.pumpkin-spice {
   color: #ffffff;
    text-align: left;
    font: 700 13.12px 'Roboto', sans-serif;
    position: absolute;
    left: 197.44px;
   top: 71.96px;
    width: 88.57px;
    height: 15.68px;
    transform-origin: 0 0;
    transform: rotate(180deg) scale(1, 1);
    display: flex;
   align-items: center;
   justify-content: flex-start}

.group-8983 {
   width: 36.9px;
    height: 36.9px;
    position: static;
   }

.rectangle-1403 {
   border-radius: 11.07px;
    border-style: solid;
    border-color: var(--text-muted, #9ca0ac);
    border-width: 0.92px;
    width: 36.9px;
    height: 36.9px;
    position: absolute;
    left: 239.88px;
   top: 83.03px;
    transform-origin: 0 0;
    transform: rotate(180deg) scale(1, 1);
   }

.frame-949 {
   flex-shrink: 0;
    width: 249.1px;
    height: 355.2px;
    position: relative;
   }

.rectangle-4 {
   border-radius: 9.23px;
    width: 249.1px;
    height: 355.2px;
    position: absolute;
    left: 0px;
   top: 0px;
    box-shadow: 3.69px 3.69px 18.45px 0px rgba(156, 160, 172, 0.80);
   }

._19 {
   color: #ffffff;
    text-align: center;
    font: 700 20.3px/14.76px 'Roboto', sans-serif;
    position: absolute;
    left: 20.3px;
   top: 46.13px;
    width: 23.99px;
    height: 14.76px;
    display: flex;
   align-items: center;
   justify-content: center}

.group-9503 {
   position: absolute;
    left: 0px;
   top: 5.54px;
    overflow: visible;
   }

.rectangle-1404 {
   border-radius: 11.07px;
    border-style: solid;
    border-color: var(--text-muted, #9ca0ac);
    border-width: 0.92px;
    width: 36.9px;
    height: 36.9px;
    position: absolute;
    left: 9.23px;
   top: 9.23px;
   }

.group-144 {
   width: 76.58px;
    height: 13.84px;
    position: static;
   }

.avocado-time {
   color: #ffffff;
    text-align: left;
    font: 700 11.89px 'Roboto', sans-serif;
    position: absolute;
    left: 51.67px;
   top: 21.22px;
    width: 76.58px;
    height: 13.84px;
    display: flex;
   align-items: center;
   justify-content: flex-start}

.frame-950 {
   flex-shrink: 0;
    width: 248.59px;
    height: 354.48px;
    position: relative;
   }

.rectangle-3 {
   border-radius: 9.21px;
    width: 248.59px;
    height: 354.48px;
    position: absolute;
    left: 0px;
   top: 0px;
    box-shadow: 3.68px 3.68px 18.41px 0px rgba(156, 160, 172, 0.80);
   }

.group-9542 {
   width: 248.59px;
    height: 354.48px;
    position: absolute;
    left: 0px;
   top: 0px;
   }

.frame-8423 {
   background: var(--linear, linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%,rgba(0, 0, 0, 0.60) 100%));
    border-radius: 0px 0px 9.21px 9.21px;
    padding: 15.65px 14.73px 15.65px 14.73px;
    width: 248.59px;
    height: 92.07px;
    position: absolute;
    left: 0px;
   top: 262.4px;
   }

.group-9382 {
   width: 46.04px;
    height: 46.04px;
    position: static;
   }

.group-8984 {
   width: 46.04px;
    height: 46.04px;
    position: static;
   }

.group-8843 {
   width: 46.04px;
    height: 46.04px;
    position: static;
   }

.group-8783 {
   width: 46.04px;
    height: 46.04px;
    position: static;
   }

.group-8693 {
   width: 46.04px;
    height: 46.04px;
    position: static;
   }

.group-8673 {
   width: 46.04px;
    height: 46.04px;
    position: static;
   }

.rectangle-1405 {
   background: rgba(0, 0, 0, 0.80);
    border-radius: 13.81px;
    width: 46.04px;
    height: 46.04px;
    position: absolute;
    left: 9.21px;
   top: 36.83px;
   }

.group-9512 {
   width: 23.94px;
    height: 31.3px;
    position: static;
   }

._01 {
   color: #ffffff;
    text-align: center;
    font: 700 20.26px/14.73px 'Roboto', sans-serif;
    position: absolute;
    left: 20.25px;
   top: 46.04px;
    width: 23.94px;
    height: 14.73px;
    display: flex;
   align-items: center;
   justify-content: center}

.aug {
   color: #ffffff;
    text-align: center;
    font: 400 11.05px/14.73px 'Roboto', sans-serif;
    position: absolute;
    left: 20.25px;
   top: 62.61px;
    width: 23.94px;
    height: 14.73px;
    display: flex;
   align-items: center;
   justify-content: center}

.frame-8472 {
   width: 27.62px;
    height: 27.62px;
    position: absolute;
    left: 211.76px;
   top: 48.8px;
    overflow: hidden;
   }

.group-9504 {
   position: absolute;
    left: 0px;
   top: 5.52px;
    overflow: visible;
   }

.frame-8424 {
   background: var(--linear, linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%,rgba(0, 0, 0, 0.60) 100%));
    border-radius: 0px 0px 9.21px 9.21px;
    padding: 15.65px 14.73px 15.65px 14.73px;
    width: 248.59px;
    height: 92.07px;
    position: absolute;
    left: 248.59px;
   top: 92.07px;
    transform-origin: 0 0;
    transform: rotate(-180deg) scale(1, 1);
   }

.group-8844 {
   width: 36.83px;
    height: 36.83px;
    position: static;
   }

.group-8784 {
   width: 36.83px;
    height: 36.83px;
    position: static;
   }

.group-8694 {
   width: 36.83px;
    height: 36.83px;
    position: static;
   }

.group-8674 {
   width: 36.83px;
    height: 36.83px;
    position: static;
   }

.rectangle-1406 {
   border-radius: 11.05px;
    border-style: solid;
    border-color: var(--text-muted, #9ca0ac);
    border-width: 0.92px;
    width: 36.83px;
    height: 36.83px;
    position: absolute;
    left: 9.21px;
   top: 9.21px;
   }

.group-145 {
   width: 36.83px;
    height: 15.65px;
    position: static;
   }

.sweet {
   color: #ffffff;
    text-align: left;
    font: 700 13.09px 'Roboto', sans-serif;
    position: absolute;
    left: 51.56px;
   top: 20.26px;
    width: 36.83px;
    height: 15.65px;
    display: flex;
   align-items: center;
   justify-content: flex-start}

.group-1387 {
   position: absolute;
    inset: 0;
   }

.group-1383 {
   width: 27.62px;
    height: 27.62px;
    position: static;
   }

.ellipse-2 {
   background: rgba(0, 0, 0, 0.30);
    border-radius: 50%;
    width: 27.62px;
    height: 27.62px;
    position: absolute;
    left: 207.16px;
   top: 163.89px;
    transform-origin: 0 0;
    transform: rotate(0deg) scale(1, 1);
   }

.vector16 {
   position: absolute;
    left: 218.21px;
   top: 172.17px;
    transform: translate(0px, 0px);
    overflow: visible;
   }

.group-1340 {
   position: absolute;
    inset: 0;
   }

.group-912 {
   width: 1018px;
    height: 26.8px;
    position: static;
   }

.line-41 {
   border-style: solid;
    border-color: var(--border, #d6dae4);
    border-width: 0.87px 0 0 0;
    width: 1018px;
    height: 0px;
    position: absolute;
    left: 30px;
   top: 142.8px;
   }

.group-774 {
   width: 480.12px;
    height: 24px;
    position: static;
   }

.frame-526 {
   display: flex;
    flex-direction: row;
    gap: 25.96px;
    align-items: flex-start;
    justify-content: flex-start;
    height: 16px;
    position: absolute;
    left: 30px;
   top: calc(50% - 311.5px);
    overflow: hidden;
   }

.frame-1337 {
   display: flex;
    flex-direction: row;
    gap: 4.33px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 68px;
    height: 16px;
    position: relative;
   }

.eye {
   flex-shrink: 0;
    position: relative;
    overflow: visible;
   }

.preview {
   color: #0066ff;
    text-align: center;
    font: 700 13.85px 'Roboto', sans-serif;
    position: relative;
   }

.frame-1339 {
   display: flex;
    flex-direction: row;
    gap: 4.33px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
   }

.vector18 {
   flex-shrink: 0;
    position: relative;
    overflow: visible;
   }

.links {
   color: #9ca0ac;
    text-align: center;
    font: 400 13.85px 'Roboto', sans-serif;
    position: relative;
   }

.frame-1340 {
   display: flex;
    flex-direction: row;
    gap: 4.33px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
   }

.vector19 {
   flex-shrink: 0;
    position: relative;
    overflow: visible;
   }

.moderate {
   color: #9ca0ac;
    text-align: center;
    font: 400 13.85px 'Roboto', sans-serif;
    position: relative;
   }

.frame-1341 {
   display: flex;
    flex-direction: row;
    gap: 4.33px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
   }

.vector20 {
   flex-shrink: 0;
    position: relative;
    overflow: visible;
   }

.selected-media {
   color: #9ca0ac;
    text-align: center;
    font: 400 13.85px 'Roboto', sans-serif;
    position: relative;
   }

.frame-1342 {
   display: flex;
    flex-direction: row;
    gap: 4.33px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
   }

.chart-line {
   flex-shrink: 0;
    position: relative;
    overflow: visible;
   }

.reports {
   color: #9ca0ac;
    text-align: center;
    font: 400 13.85px 'Roboto', sans-serif;
    position: relative;
   }

.line-2-1 {
   position: absolute;
    left: 48px;
   top: 140px;
    transform: translate(0px, -1.73px);
    overflow: visible;
   }

.group-1049 {
   width: 1018px;
    height: 50px;
    position: static;
   }

.frame-1438 {
   display: flex;
    flex-direction: row;
    gap: 0px;
    align-items: center;
    justify-content: flex-start;
    width: 350px;
    height: 50px;
    position: absolute;
    left: 699px;
   top: 40px;
   }

.form-control {
   background: #ffffff;
    border-radius: 5px 0px 0px 5px;
    border-style: solid;
    border-color: #0066ff;
    border-width: 3px;
    padding: 16px 13px 16px 13px;
    flex-shrink: 0;
    width: 250px;
    height: 50px;
    position: relative;
    overflow: hidden;
   }

.enter-your-search {
   color: var(--text-muted, #9ca0ac);
    text-align: left;
    font: 400 15px 'Roboto', sans-serif;
    position: absolute;
    left: 13px;
   top: calc(50% - 9px);
    display: flex;
   align-items: center;
   justify-content: flex-start}

.btn-primary-lg {
   background: #0066ff;
    border-radius: 0px 5px 5px 0px;
    padding: 12px 16px 12px 16px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 100px;
    height: 50px;
    position: relative;
    overflow: hidden;
   }

.search {
   color: #ffffff;
    text-align: center;
    font: 700 15px/20px 'Roboto', sans-serif;
    position: relative;
    display: flex;
   align-items: center;
   justify-content: center}

.arrow-right {
   flex-shrink: 0;
    position: relative;
    overflow: visible;
   }

.title {
   width: 258px;
    height: 48px;
    position: absolute;
    left: 31px;
   top: 42px;
   }

