#mainFrame {
    display: flex;
    width: 1270px;
    height: 853px;
    margin: auto;
}

#sideMenu {
    background-color: #eef1f7;
    width: 193px;
    height: 100%;
    position: relative;
}

/* #home {
    flex: 1;
    background-color: #fffed7d8;
    height: 100%;
    position: relative;
} */

#topIcon {
    display: flex;
    width: 160px;
    height: 29px;
}

#info {
    display: flex;
    width: 110px;
    height: 29px;
    position: relative;
    text-align: left;
    position: absolute;
    left: 29.24px;
}

#desplegable {
    flex-shrink: 0;
    position: relative;
    overflow: visible; 
}

#iconText, #iconBrand {
    text-align: left;
    font: 700 12.64px 'Roboto', sans-serif;
    position: absolute;
    left: 29.24px;
}

#iconText {
    font: 700 12.64px 'Roboto', sans-serif; 
    color: #1E2022;
}

#iconBrand {
    font: 400 11.06px 'Roboto', sans-serif;
    color: #9CA0AC;
    
}