header,
footer {
    height: 10rem;
    background-color: #bae0f7;
}

article {
    background-color: #f58426;
    color: #182e3b;
}

.container {
    display: flex;
    height: 30rem;
    background-color: #f58426;
    color: #182e3b;
    align-items: center;
    justify-content: center;
}

button {
    background-color: #fff;
    color: #182e3b;

    border-style: solid;
    border-width: 0.3rem;
    border-color: #274287;
    border-radius: 0.3rem;
    outline: none;

    height: 5rem;
    width: 10rem;

    font-size: 2rem;
}
